*{
    margin: 0px;
    padding:0px;
}
.header{
    width: 1280px;
}
@font-face {
    font-family: 'holen';
    src: url(Holen\ Vintage.otf );
}

@font-face {
    font-family: 'super';
    src: url(Super\ Morning.ttf);
}

@font-face {
    font-family: 'cafe';
    src: url(This\ Cafe.ttf);
}

@font-face {
    font-family: 'serif';
    src: url(TT\ Norms\ Pro\ Serif\ Trial\ Bold.ttf);
}
body{
    background-image: url(under.png);
    width: 1280px;
    background-size:cover;
}

/*Kode CSS Navigator*/
ul{
    list-style:none;
    background: #3289c7;
    padding: 0px 0px;
    margin: -5px -1px;
    position:relative;
    width: 1280px;
    height: 60px;
} 

ul li{
    display: inline-block ;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    padding: 10px 0px;
    text-align: center;
}

ul a:hover{
    background-color: #133E87;
}

/* Kode css dropdown */
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    background:rgb(15, 96, 147);
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown{
    display: block;
}
/*Kode CSS Side Bar*/
h1{
    font-family: 'cafe';
    margin-top: 15px;
    text-shadow: 2px 3px 5px black;
    margin-bottom: 15px;
}


/*column*/
.column.satu{
    background-color: white;
    font-family: 'serif';
    margin-left: 20px;
}
ol{
    background-color: rgb(232, 166, 130);
}
.footer{
    position: relative;
     padding-top: 0px;
    height: 10px;
}