    *{
        margin: 0px;
        padding:0px;
        max-height: 700px;
    }

    body{
        background-image: url(under.png);
        width: 1280px;
        background-size:cover;
        display: flex;
        flex-direction: column;
    }

    @font-face {
        font-family: 'holen';
        src: url(Holen\ Vintage.otf );
    }

    @font-face {
        font-family: 'super';
        src: url(Super\ Morning.ttf);
    }

    @font-face {
        font-family: 'cafe';
        src: url(This\ Cafe.ttf);
    }

    .header{
        width: 1280px;
    }
    /*Kode CSS Navigator*/
    ul{
        list-style:none;
        background: #3289c7;
        padding: 0x 0px;
        margin: -12px -1px;
        position:absolute;
        width: 1280px;
        height: 60px;
    } 

    ul li{
        display: inline-block ;
        position: relative;
        height: 60px;
        padding: 10px 8px;
    }

    ul li a{
        padding: 10px 0px;
        text-align: center;
    }

    ul a:hover{
        background-color: #133E87;
    }

    /* Kode css dropdown */
    ul li ul.dropdown li{
        display: block;
    }
    ul li ul.dropdown{
        background: #3289c7;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        margin: 0px 0px;
    }

    ul li:hover ul.dropdown{
        display: block;
    }
    /*Kode CSS Side Bar*/
    .column{
        float:left;
        padding:0px 10px;
    }
    /*left column*/
    h1.kerjasama{
        margin: 59px 0px;
        font-family: 'cafe';
        font-size: 65px;
        color: black;
        text-shadow: 2px 3px 5px black;
    }

    h2.apaitu{
        font-family: 'holen';
    }

    .column.satu{
        margin: -60px 0px;
        margin-left: 20px;
        width: 1200px;
        font-family: 'holen';
        font-size: smaller;
        background-color: #D4EBF8;
    }

    h2.contoh{
        font-family: 'super';
        margin: 70px 0px;
        font-size: 35px;
    }

    .column.dua{
        margin: -55px 0px;
        margin-left: 20px;
        width: 1200px;
        font-family: 'holen';
        font-size: smaller;
        background-color: #D4EBF8;
    }

    .column.tiga{
        margin: 70px 0px;
        margin-left: 20px;
        width: 1200px;
        font-family: 'holen';
        font-size: smaller;
        background-color: #FFCFEF;
    }

    img.bilateral{
        height: 200px;
        width: 300px;
    }

    img.asean1{
        padding: 10px;
        height: 200px;
        width: 300px;
    }

    img.asean2{
        padding: 50px 20px;
        height: 100px;
        width: 100px;
    }

    img.pbb{
        height: 200px;
        width: 300px;
    }
    
    .column.empat{
        margin-top: -55px;
        width: 1200px;
        margin-left: 20px;
        background-color: #d3b4ec;
        font-family: 'holen';
        font-size: smaller;
    }
    
    .footer{
        position: relative;
        margin-bottom: 0px;
        height: 10px;
    }



   
